textfile_manipulation_and_math_library.ipynb
string_manipulation.ipynb
polymorphism.ipynb
miniquiz_studi_kasus_dari_senja.ipynb
miniquiz_harga_rumah_di_tanggerang.ipynb
functions.ipynb
encapsulation_and_inheritance.ipynb
collection_manipulation.ipynb
class_and_object.ipynb
.ipynb_checkpoints